<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodpower.pvams.mapper.GirdAccessFileMapper">
  <resultMap id="BaseResultMap" type="com.goodpower.pvams.model.GirdAccessFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="pic_type" jdbcType="INTEGER" property="picType" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="create_dttm" jdbcType="TIMESTAMP" property="createDttm" />
    <result column="update_dttm" jdbcType="TIMESTAMP" property="updateDttm" />
  </resultMap>
  <sql id="Base_Column_List">
    id, station_id, file_url,pic_type, create_dttm, update_dttm,pic_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_gird_access_point_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_gird_access_point_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.goodpower.pvams.model.GirdAccessFile">
    insert into t_gird_access_point_file (id, station_id, file_url,pic_type,pic_name,
      create_dttm, update_dttm)
    values (#{id,jdbcType=BIGINT}, #{stationId,jdbcType=BIGINT}, #{fileUrl,jdbcType=VARCHAR}, #{picType,jdbcType=INTEGER},
      #{picName,jdbcType=VARCHAR},now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.goodpower.pvams.model.GirdAccessFile">
    insert into t_gird_access_point_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stationId != null">
        station_id,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="picType != null">
        pic_type,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="createDttm != null">
        create_dttm,
      </if>
      <if test="updateDttm != null">
        update_dttm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=BIGINT},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        #{picType,jdbcType=INTEGER},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="createDttm != null">
        #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goodpower.pvams.model.GirdAccessFile">
    update t_gird_access_point_file
    <set>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=BIGINT},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDttm != null">
        create_dttm = #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        update_dttm = #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goodpower.pvams.model.GirdAccessFile">
    update t_gird_access_point_file
    set station_id = #{stationId,jdbcType=BIGINT},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      update_dttm = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByStationId" resultMap="BaseResultMap">
    select * from t_gird_access_point_file where station_id = #{stationId,jdbcType=BIGINT}
  </select>

</mapper>