<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodpower.pvams.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.goodpower.pvams.model.TreeNode">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="show_name" jdbcType="VARCHAR" property="showName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
  </resultMap>
  <insert id="insert" parameterType="com.goodpower.pvams.model.Menu">
    insert into t_menu (id, show_name, type, 
      p_id)
    values (#{id,jdbcType=VARCHAR}, #{showName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{pId,jdbcType=VARCHAR})
    ON DUPLICATE KEY UPDATE
        show_name = #{showName,jdbcType=TIMESTAMP}
  </insert>
  <insert id="insertSelective" parameterType="com.goodpower.pvams.model.Menu">
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="showName != null">
        show_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="pId != null">
        p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="showName != null">
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="queryMenuList" resultMap="BaseResultMap">
        select * from t_menu where 1 = 1
  </select>
  <select id="getChildList" resultMap="BaseResultMap">
        select * from t_menu where 1 = 1
        <if test="pId != null">
            p_id = #{pId,jdbcType=VARCHAR},
        </if>
  </select>
</mapper>