<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodpower.pvams.mapper.PowerProfitMapper">
  <resultMap id="BaseResultMap" type="com.goodpower.pvams.model.PowerProfit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="stat_type" jdbcType="INTEGER" property="statType" />
    <result column="stat_val" jdbcType="DECIMAL" property="statVal" />
    <result column="create_dttm" jdbcType="TIMESTAMP" property="createDttm" />
    <result column="update_dttm" jdbcType="TIMESTAMP" property="updateDttm" />
  </resultMap>
  <sql id="Base_Column_List">
    id, station_id, year, month, stat_type, stat_val, create_dttm, update_dttm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_station_power_profit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_station_power_profit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.goodpower.pvams.model.PowerProfit">
    insert into t_station_power_profit (id, station_id, year, 
      month, stat_type, stat_val, 
      create_dttm, update_dttm)
    values (#{id,jdbcType=BIGINT}, #{stationId,jdbcType=BIGINT}, #{year,jdbcType=INTEGER}, 
      #{month,jdbcType=INTEGER}, #{statType,jdbcType=INTEGER}, #{statVal,jdbcType=DECIMAL}, 
      #{createDttm,jdbcType=TIMESTAMP}, #{updateDttm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.goodpower.pvams.model.PowerProfit">
    insert into t_station_power_profit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stationId != null">
        station_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="statType != null">
        stat_type,
      </if>
      <if test="statVal != null">
        stat_val,
      </if>
      <if test="createDttm != null">
        create_dttm,
      </if>
      <if test="updateDttm != null">
        update_dttm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=BIGINT},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="statType != null">
        #{statType,jdbcType=INTEGER},
      </if>
      <if test="statVal != null">
        #{statVal,jdbcType=DECIMAL},
      </if>
      <if test="createDttm != null">
        #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goodpower.pvams.model.PowerProfit">
    update t_station_power_profit
    <set>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=BIGINT},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="statType != null">
        stat_type = #{statType,jdbcType=INTEGER},
      </if>
      <if test="statVal != null">
        stat_val = #{statVal,jdbcType=DECIMAL},
      </if>
      <if test="createDttm != null">
        create_dttm = #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        update_dttm = #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goodpower.pvams.model.PowerProfit">
    update t_station_power_profit
    set station_id = #{stationId,jdbcType=BIGINT},
      year = #{year,jdbcType=INTEGER},
      month = #{month,jdbcType=INTEGER},
      stat_type = #{statType,jdbcType=INTEGER},
      stat_val = #{statVal,jdbcType=DECIMAL},
      create_dttm = #{createDttm,jdbcType=TIMESTAMP},
      update_dttm = #{updateDttm,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByFields" parameterType="java.util.Map" resultType="java.util.Map">
     select
        year,
        sum(stat_val) sumVal
     from
        t_station_power_profit
     where
        1 = 1
        <if test="statType != null">
          and stat_type = #{statType,jdbcType=INTEGER}
        </if>
        <if test="stationId != null">
          and station_id = #{stationId,jdbcType=BIGINT}
        </if>
        group by year
  </select>

    <select id="getYearMonthStat" parameterType="java.util.Map" resultType="java.util.Map">
      select
        year,
        month,
      stat_val
      from
        t_station_power_profit
      where
        1 = 1
        <if test="statType != null">
          and stat_type = #{statType,jdbcType=INTEGER}
        </if>
        <if test="stationId != null">
          and station_id = #{stationId,jdbcType=BIGINT}
        </if>
        <if test="year != null">
          and year = #{year,jdbcType=INTEGER}
        </if>
    </select>
</mapper>