<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodpower.pvams.mapper.PowerStationBaseMapper">
  <resultMap id="BaseResultMap" type="com.goodpower.pvams.model.PowerStationBase">
    <id column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="village" jdbcType="VARCHAR" property="village" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="create_dttm" jdbcType="TIMESTAMP" property="createDttm" />
    <result column="update_dttm" jdbcType="TIMESTAMP" property="updateDttm" />
  </resultMap>
  <sql id="Base_Column_List">
    station_id, station_name, province, city, county, town, village, longitude, latitude, 
    create_dttm, update_dttm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_power_station_base
    where station_id = #{stationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_power_station_base
    where station_id = #{stationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.goodpower.pvams.model.PowerStationBase">
    insert into t_power_station_base (station_id, station_name, province, 
      city, county, town, 
      village, longitude, latitude, 
      create_dttm, update_dttm)
    values (#{stationId,jdbcType=BIGINT}, #{stationName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, 
      #{village,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{createDttm,jdbcType=TIMESTAMP}, #{updateDttm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.goodpower.pvams.model.PowerStationBase">
    insert into t_power_station_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stationId != null">
        station_id,
      </if>
      <if test="stationName != null">
        station_name,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="town != null">
        town,
      </if>
      <if test="village != null">
        village,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="createDttm != null">
        create_dttm,
      </if>
      <if test="updateDttm != null">
        update_dttm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stationId != null">
        #{stationId,jdbcType=BIGINT},
      </if>
      <if test="stationName != null">
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="village != null">
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="createDttm != null">
        #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goodpower.pvams.model.PowerStationBase">
    update t_power_station_base
    <set>
      <if test="stationName != null">
        station_name = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        town = #{town,jdbcType=VARCHAR},
      </if>
      <if test="village != null">
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="createDttm != null">
        create_dttm = #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        update_dttm = #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where station_id = #{stationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goodpower.pvams.model.PowerStationBase">
    update t_power_station_base
    set station_name = #{stationName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      create_dttm = #{createDttm,jdbcType=TIMESTAMP},
      update_dttm = #{updateDttm,jdbcType=TIMESTAMP}
    where station_id = #{stationId,jdbcType=BIGINT}
  </update>

  <insert id="upsert" parameterType="com.goodpower.pvams.model.PowerStationBase">
    insert into t_power_station_base (station_id, station_name, province,
      city, county, town,
      village, longitude, latitude,
      create_dttm, update_dttm)
    values (#{stationId,jdbcType=BIGINT}, #{stationName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR},
      #{village,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR},
      #{createDttm,jdbcType=TIMESTAMP}, #{updateDttm,jdbcType=TIMESTAMP})
    on duplicate key update
      station_name = #{stationName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      update_dttm = now()
  </insert>
</mapper>