<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodpower.pvams.mapper.ToolCheckRecordMapper">
  <resultMap id="BaseResultMap" type="com.goodpower.pvams.model.ToolCheckRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tool_id" jdbcType="VARCHAR" property="toolId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="check_user_id" jdbcType="BIGINT" property="checkUserId" />
    <result column="confirm_user_id" jdbcType="BIGINT" property="confirmUserId" />
    <result column="lose_num" jdbcType="INTEGER" property="loseNum" />
    <result column="damage_num" jdbcType="INTEGER" property="damageNum" />
    <result column="change_num" jdbcType="INTEGER" property="changeNum" />
    <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus" />
    <result column="check_result" jdbcType="VARCHAR" property="checkResult" />
    <result column="next_check_time" jdbcType="TIMESTAMP" property="nextCheckTime" />
    <result column="create_dttm" jdbcType="TIMESTAMP" property="createDttm" />
    <result column="update_dttm" jdbcType="TIMESTAMP" property="updateDttm" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tool_id, position, check_time, check_user_id, lose_num, damage_num, change_num, 
    check_result, next_check_time, create_dttm, update_dttm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_tool_check_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_tool_check_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goodpower.pvams.model.ToolCheckRecord">
    insert into t_tool_check_record (id, tool_id, position, 
      check_time, check_user_id, lose_num, 
      damage_num, change_num, check_result, 
      next_check_time, create_dttm, update_dttm,confirm_user_id,confirm_time,confirm_status
      )
    values (#{id,jdbcType=INTEGER}, #{toolId,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{checkUserId,jdbcType=BIGINT}, #{loseNum,jdbcType=INTEGER}, 
      #{damageNum,jdbcType=INTEGER}, #{changeNum,jdbcType=INTEGER}, #{checkResult,jdbcType=VARCHAR}, 
      #{nextCheckTime,jdbcType=TIMESTAMP}, #{createDttm,jdbcType=TIMESTAMP}, #{updateDttm,jdbcType=TIMESTAMP},
      #{confirmUserId,jdbcType=BIGINT},#{confirmTime,jdbcType=TIMESTAMP},#{confirmStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.goodpower.pvams.model.ToolCheckRecord">
    insert into t_tool_check_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="toolId != null">
        tool_id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkUserId != null">
        check_user_id,
      </if>
      <if test="loseNum != null">
        lose_num,
      </if>
      <if test="damageNum != null">
        damage_num,
      </if>
      <if test="changeNum != null">
        change_num,
      </if>
      <if test="checkResult != null">
        check_result,
      </if>
      <if test="nextCheckTime != null">
        next_check_time,
      </if>
      <if test="createDttm != null">
        create_dttm,
      </if>
      <if test="updateDttm != null">
        update_dttm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="toolId != null">
        #{toolId,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUserId != null">
        #{checkUserId,jdbcType=BIGINT},
      </if>
      <if test="loseNum != null">
        #{loseNum,jdbcType=INTEGER},
      </if>
      <if test="damageNum != null">
        #{damageNum,jdbcType=INTEGER},
      </if>
      <if test="changeNum != null">
        #{changeNum,jdbcType=INTEGER},
      </if>
      <if test="checkResult != null">
        #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="nextCheckTime != null">
        #{nextCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDttm != null">
        #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goodpower.pvams.model.ToolCheckRecord">
    update t_tool_check_record
    <set>
      <if test="confirmUserId != null">
        confirm_user_id = #{confirmUserId,jdbcType=BIGINT},
      </if>
      <if test="confirmTime != null">
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmStatus != null">
        confirm_status = #{confirmStatus,jdbcType=INTEGER},
      </if>
      <if test="toolId != null">
        tool_id = #{toolId,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUserId != null">
        check_user_id = #{checkUserId,jdbcType=BIGINT},
      </if>
      <if test="loseNum != null">
        lose_num = #{loseNum,jdbcType=INTEGER},
      </if>
      <if test="damageNum != null">
        damage_num = #{damageNum,jdbcType=INTEGER},
      </if>
      <if test="changeNum != null">
        change_num = #{changeNum,jdbcType=INTEGER},
      </if>
      <if test="checkResult != null">
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="nextCheckTime != null">
        next_check_time = #{nextCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDttm != null">
        create_dttm = #{createDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDttm != null">
        update_dttm = #{updateDttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goodpower.pvams.model.ToolCheckRecord">
    update t_tool_check_record
    set tool_id = #{toolId,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_user_id = #{checkUserId,jdbcType=BIGINT},
      lose_num = #{loseNum,jdbcType=INTEGER},
      damage_num = #{damageNum,jdbcType=INTEGER},
      change_num = #{changeNum,jdbcType=INTEGER},
      check_result = #{checkResult,jdbcType=VARCHAR},
      next_check_time = #{nextCheckTime,jdbcType=TIMESTAMP},
      create_dttm = #{createDttm,jdbcType=TIMESTAMP},
      update_dttm = #{updateDttm,jdbcType=TIMESTAMP},
      confirm_user_id = #{confirmUserId,jdbcType=BIGINT},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      confirm_status = #{confirmStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByFields" parameterType="java.util.Map" resultType="java.util.Map">
    select * from (
    select
        id,
        tool_id toolId,
        check_time checkTime,
        next_check_time nextCheckTime,
        check_user_id checkUserId,
        confirm_user_id confirmUserId,
        confirm_status confirmStatus,
        confirm_time confirmTime,
        b.realname checker,
        c.realname confirmer
    from
        t_tool_check_record a
    LEFT JOIN t_user b on a.check_user_id = b.user_id
    LEFT JOIN t_user c ON a.confirm_user_id = c.user_id
    where
    1 = 1
    <if test="toolId != null">
      and tool_id = #{toolId,jdbcType=BIGINT}
    </if>
    ) t
    <if test="offset != null and limit != null">
      limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    count(1)
    from
    t_tool_check_record a
    LEFT JOIN t_user b on a.check_user_id = b.user_id
    LEFT JOIN t_user c ON a.confirm_user_id = c.user_id
    where
    1 = 1
    <if test="toolId != null">
      and tool_id = #{toolId,jdbcType=BIGINT}
    </if>
  </select>
</mapper>